@keyframes animation1 {
    0% {left: 200px; width: 50px; height: 50px;}
    50% {left: 260px; width: 175px; height: 175px;}
    100% {left: 200px; width: 50px; height: 50px;}
}
@keyframes animation2 {
    0% {left: 200px; width: 175px; height: 175px;}
    50% {left: 25px; width: 50px; height: 50px;}
    100% {left: 200px; width: 175px; height: 175px;}
}
.star1 {
    width: 3px;
    height: 3px;
    color: white;
    border-radius: 50%;
}
.star2 {
    width: 3px;
    height: 3px;
    color: white;
    border-radius: 50%;
}
.image1 {
      position: relative;
      animation-name: animation1;
      animation-duration: 5.5s;
      animation-iteration-count: infinite;
      animation-delay: 0s;
}
.image2 {
      position: relative;
      animation-name: animation2;
      animation-duration: 5.5s;
      animation-iteration-count: infinite;
      animation-delay: 0s;
}
.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  z-index: 999;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  float: left;
}

.navbar-left {
    display: flex;
    align-items: center;
  float: left;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 8px;
  float: right;
}
.nav-text {
    color: white;
    font-size: 18px;
    margin: 0;
  float: left
}
.navbar_item {
  height: 80px;
  float: right;
}
.main {
  background-color: #222222;
}
.main_content h1 {
  font-size: 4rem;
  background-color: #222222;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content h2 {
  font-size: 4rem;
  background-color: #222222;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #222222;
  z-index: 1;
  width: 90%;
  max-width: 1100px;
  padding:  50px;
}
.main_img {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .main_container {
    display: grid;
    grid-template-columns: auto;
    alin-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main_content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main_content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main_content h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .main_content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main_content h2 {
    font-size: 3rem;
  }
}
